body{
  background: #eee;
}

.App{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.nav-bar {
  margin-top: 20px;
}

.search-bar {
  margin-left: 29px;
  margin-top: 30px;
}


.logout-button, .collection-button , .login-button, .nav-buttons {
  font-size: 25px;
  float: right;
  margin-left: 20px;
}

.user-buttons {
  display: flex;
}

.search-bar input{
    width: 97%;
    position: relative;
    display: flex; 
    margin-top: 10px;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #10271c; 
    font-size: x-large;
}

.movie-list, .tvshow-list, .collection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.movie-item, .tvshow-item, .collection-item {
  border-style: solid;
  border-color: #a3c3d6;
  margin-bottom: 10px;
  font-weight: bold;
  flex: 0 1 32%;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}




.movie-details, details{
  text-align: left;
  font-size: 15px;
  color: #494880;
}

.add-collection-button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  margin-left: 45%;
  margin-top: 50px;
}
.add-collection-button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

.add-collection-disabled {
  background-color: grey;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  margin-left: 45%;
  margin-top: 50px;
}

.text-disabled{
  margin-left: 33%;
  color: black;
  margin-top: 0px;
}

.movie-title, .details-name {
  font-size: 35px;
  color: #1e1d42;
  margin-top: 20px;
}

.movie-preview, .details-preview {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.cover-img {
  transition: transform 0.2s ease-in-out;
}

.cover-img:hover{
  transform: scale(1.1);
  margin-bottom: 30px;
  border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.login-page {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.group {
  position: relative;
  margin: 15px 0;
}

.form-input {
    background: none;
    background-color: white;
    font-size: 18px;
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid ;
    margin: 5px 0;
  }
  

.form-label {
    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
    text-transform: capitalize;

  }
.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    }
.sign-up {
      display: flex;
      flex-direction: column;
      width: 380px;
    }
.remove-button{
  border-width: 0px;
  margin-left: 17em;
}

.loading-spinner {
  margin: auto;
  margin-top: 30%;
}